@media screen and (max-width:520px) {
    body{
        background: url(background.png) ;
        margin: 100px 20px 0 20px;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .box{
        max-width: 300px;
        height: 515px;
        margin: auto;
    }
    
    .title{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 54px;
        color: #F2F2F2;
    }
    
    .image-icon{
        width: 80px;
        display: block;
        float: right;
        margin-left: auto ;
        position: relative;
    }
    
    .input-box{
        text-align: center;
        width: 300px;
        height: 180px;
        background: #FFFFFF;
        border-radius: 24px;
    }
    

    
    .question{
        padding: 30px 30px 0 30px;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        color: #2F527B;
    }
    
    input{
        margin-top: 20px;
        width: 170px;
        height: 40px;
        border-radius: 12px;
        padding-left: 20px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 27px;
        color: rgba(96, 102, 208, 0.8);
        background: #FFFFFF;
        border: 2px solid rgba(96, 102, 208, 0.7);
        border-radius: 12px;
        outline-style: none;
    }
    
    input::placeholder{
        color: rgba(96, 102, 208, 0.8);
    }
    
    .nextt{
        cursor: pointer;
        width: 50px;
        height: 40px;
        background: #F9A826;
        border-style: none;
        box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
        border-radius: 12px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 27px;
        color: #FFFFFF;
    }
    
    .nextt:hover{
        background: #f98c26;
    }
    
    a { text-decoration: none; color: #FFFFFF }
    
    .watermark{
        position: relative;
        margin-top: 235px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 17px;
        text-align: center;
        margin-bottom: 30px;
        color: #F2F2F2;
    }
    
    a.ref { text-decoration: none; color: #F2F2F2}
    a.ref:hover { text-decoration: underline; color: #F2F2F2}
}